


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.skill-group {
    font-weight: normal;
    font-style: italic;
    color: #555;
}

#contactme {
    background-color: #f9f9f9;
    padding: 20px;
    border-left: 5px solid #3498db;
    margin-top: 2rem;
}

nav a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    padding: 0 1rem;
}

a:hover {
    color: #b929b2;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: circle;
    margin-left: 20px;
    margin-bottom: 1rem;
}
